# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: |
          ssh-keygen -t RSA -b 4096 -f /home/runner/.ssh/id-rsa
          ls /home/runner/.ssh/
          chmod 0700 /home/runner/.ssh/*
          docker build -t ssh-test .
          docker run --rm -d -p 52022:22 -v /home/runner./ssh:/root/.ssh ssh-test
          
      - name: ssh test
        run: |
          ssh -i /home/runner/.ssh/id-rsa -p 52022 root@127.0.0.1  | tee output.txt
          mkdir artifacts
          mv output.txt artifacts/

      - name: Publish
        uses: actions/upload-artifact@v2
        with:
          name: artifact
          path: artifacts/
